body{
  height: 100%;
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #ffffff;
}

/* Global */
.container{
  width: 75%;
  margin:auto;
  overflow: hidden;
}

ul{
  margin: 0;
  padding: 0;
}

.dark{
  padding: 15px;
  background: #35424a;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
}

/* Header */
header{
  background: #35424a;
  color:#ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #DF4F3F 3px solid;
}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float: left;
}

header #branding h1{
  margin: 0;
}

header nav{
  float: right;
  margin-top: 10px;
}

header .highlight, header .current a{
  color: #DF4F3F;
  font-weight: bold;
}

header a:hover{
  color: #ff3333;
  font-weight: bold;
}

/* Showcase */
#showcase{
  min-height: 380px;
  background:url('../img/showcase3.jpg') no-repeat 0 -70px;
  text-align: center;
  color:#ffffff;
  margin-bottom: 30px;
}

#showcase h1{
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p{
  font-size: 20px;
}

#head2{
  text-align: center;
}

/* Boxes */
#boxes{
  margin-top:20px;
}

#boxes .box{
  float:left;
  width: 30%;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

#boxes .box img{
  width: 150px;
  height: 150px;
}

/* Dog */


/* Sidebar */
aside#sidebar{
  float:right;
  width: 20%;
  margin-top: 10px;
}

/* Main-col */
article#main-col{
  float:left;
  width: 80%;
  height: 100%
}

article#main-col .dog img{
  float:left;
  width: 330px;
  padding-bottom: 20px;
  padding-right: 30px;
}

/* Projects */
ul#projects li{
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 20px;
  background: #e6e6e6;
}

#projects h3{
  margin-top: 10px;
  font-size: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  text-align: center;
}

#projects .info{
  text-align: center;
  font-size: 14px;
  margin-bottom: 10px;
}

/* Footer */
footer{
  padding:20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #DF4F3F;
  text-align: center;
}

/* Media Queries */
@media(max-width: 768px) {
  header nav,
  header nav li,
  #boxes .box,
  article#main-col,
  aside#sidebar,
  header #branding{
    float: none;
    text-align: center;
    width: 100%;
  }

  header{
    padding-bottom: 20px;
  }

  #showcase h1{
    margin-top: 40px;
  }
}
